.app {
  text-align: center;
  background-image: -webkit-radial-gradient(.5% 50.5%,circle 993px,rgba(137,171,245,.37) 0,#f5f7fc 100.2%);
    background-image: -moz-radial-gradient(.5% 50.5%,circle 993px,rgba(137,171,245,.37) 0,#f5f7fc 100.2%);
    background-image: radial-gradient(circle 993px at .5% 50.5%,rgba(137,171,245,.37) 0,#f5f7fc 100.2%);
}
